@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About CourseMate</h2>
<div>
    <p>CourseMate is a platform for students to ask and answer questions.</p>
</div>
