@{
    ViewData["Title"] = "All Tags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Tags</h2>

<div>
    <p>Here are all the tags:</p>
   
    <ul>
        <li>Tag 1</li>
        <li>Tag 2</li>
        <li>Tag 3</li>
    </ul>
</div>
