@{
    ViewData["Title"] = "Saved Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Saved Questions</h2>
<div>
    <p>Here are your saved questions:</p>
  
    <ul>
        <li>Saved Question 1</li>
        <li>Saved Question 2</li>
        <li>Saved Question 3</li>
    </ul>
</div>
